
.admin-body {
    display: flex;
    background-color: #111827; 
    color: #f3f4f6; 
}
.admin-sidebar {
    width: 250px;
    background-color: #1f2937; 
    height: 100vh;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.3);
    position: fixed; 
}
.admin-sidebar h2 {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: white;
}
.admin-sidebar a {
    display: block;
    color: #d1d5db;
    padding: 12px 15px;
    text-decoration: none;
    border-radius: 8px;
    margin-top: 10px;
    transition: background 0.2s, color 0.2s;
}
.admin-sidebar a:hover {
    background-color: #e11d48; 
    color: white;
}
.admin-sidebar form button {
    background: #4b5563; 
    color: white; 
    padding: 10px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    width: 100%;
    margin-top: 20px;
    transition: background 0.2s;
}
 .admin-sidebar form button:hover {
    background: #374151; 
 }

.admin-content {
    flex-grow: 1; 
    padding: 40px;
    height: 100vh;
    overflow-y: auto;
    margin-left: 250px; 
}